* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(24, 24, 77,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    background-color: rgb(153, 167, 167,0.9);
    width: 80%;
    height: 95vh;
    margin-bottom: 15px;
}
#conteudo h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.posicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px auto;
   }

   .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px auto;
    line-height: 50px;
    color: azure;
    font-size: 25px;
   }

  




footer {
    background: rgb(60, 60, 190);
    height: 5vh;
    text-align: center;
    color: aliceblue;
    position: relative;
    bottom: 0;
    width: 100%;
}

.input {
    border: 1px solid rgb(89, 89, 235);
    border-radius: 3px 5px;
    width: 200px;
    height: 30px;
    display: inline-block;
    margin-top: 0px;
}


button {
    color: aliceblue;
    background: none;
    color: rgb(46, 44, 44);
    border: 2px solid blue;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px 4px;
}

button:hover {
    background: rgb(5, 15, 153);
    color: white;
    border: none;
}


a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

@media screen and (max-width:720px) {
    #conteudo {
        width: 80%;
      
    }
 
    .input {
        width: 150px;
        height: 30px;
    }
    .res{
        font-size: 12px;
        color: azure;
        text-align: center;
    }

 
   
}